@charset "UTF-8";
/*==============================================================================

Typography SCSS.

==============================================================================*/
.heading01 {
  font-size: 5rem;
  font-weight: 400;
  stroke: #666;
  fill: #666;
  stroke-dasharray: 150% 150%;
  stroke-width: 1px;
}